<img class="login_logo" src="~/Content/images/Logo.png" />
<form action="" method="post" name="loginForm" id="loginForm">
    <div class="user-box">
        <input type="text" id="UserID" name="UserId" required autocomplete='off' placeholder="Please enter your ID">
        <label>ID</label>
    </div>
    <a href="#" onclick="login();">
        LOGIN
    </a>
</form>
